{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <section class="login-section">

        <div class="card mb-3 text-center">
            <h1>Hello {{ controller_name }}! ✅</h1>

            This friendly message is coming from:
            <ul>
                <li>Your controller at <code><a href="{{ 'C:/wamp64/www/untitled2/symTest2/src/Controller/AuthController.php'|file_link(0) }}">src/Controller/AuthController.php</a></code></li>
                <li>Your template at <code><a href="{{ 'C:/wamp64/www/untitled2/symTest2/templates/auth/index.html.twig'|file_link(0) }}">templates/auth/index.html.twig</a></code></li>
            </ul>

        </div>

    </section>

{% endblock %}
